<mat-card class="sign-up-card">
    <mat-card-title color="primary" style="color: black">Register</mat-card-title>
    <form (ngSubmit)="onSignup(f)" #f="ngForm" class="example-form">
      <mat-form-field color="primary" class="example-full-width">
        <input
          matInput
          placeholder="Your email"
          type="email"
          id="email"
          name="email"
          ngModel
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Your password"
          type="password"
          id="password"
          name="password"
          ngModel
        />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!f.valid">
        Sign Up
      </button>
      <button mat-raised-button color="secondary" style="margin-left: 5px;" (click)="handleBack()">
          Back
      </button>
    </form>
  </mat-card>
