<mat-toolbar color="primary">
  <ng-template [ngIf]="!(authState | async).authenticated">
    <button mat-button style="font-size: 90%; text-align: center; min-width: 100%;" routerLink="/">
      Recipe Book
    </button>
  </ng-template>
  <ng-template [ngIf]="(authState | async).authenticated">
    <button mat-button routerLink="/">Dashboard</button>
    <button mat-button routerLinkActive="active" routerLink="/recipes">
      Recipes
    </button>
    <button mat-button routerLinkActive="active" routerLink="/shopping-list">
      Shopping List
    </button>
    <span class="example-spacer"></span>
    <mat-icon class="logout-icon" (click)="onLogout()">exit_to_app</mat-icon>
  </ng-template>
</mat-toolbar>
