.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.sign-in-card {
  background-color: white;
  max-width: 800px;
  padding: 30px;
  margin: auto;
  margin-top: 15%;
}
