<mat-card-header fxLayout="row" class="shopping-list-header">
    <mat-card-title style="color: black; width:100%;"
      >My Shopping List
      <span class="example-spacer"></span><mat-icon
      style="color: #c2185b; cursor: pointer; float: right;"
      *ngIf="!isFormVisible"
      (click)="showForm()"
      >add_box</mat-icon
    >

    <mat-icon
      style="color: #c2185b; cursor: pointer; float: right;"
      *ngIf="isFormVisible"
      (click)="closeForm()"
      >close</mat-icon
    >
    </mat-card-title>
</mat-card-header>

<mat-card style="background-color: white;" *ngIf="isFormVisible"
>
  <form
    (ngSubmit)="onSubmit(f)"
    #f="ngForm"
    class="example-form"
  >
    <mat-form-field color="primary" class="example-full-width">
      <input
        matInput
        placeholder="Product"
        type="text"
        id="name"
        name="name"
        required
        ngModel
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Amount"
        type="number"
        id="amount"
        name="amount"
        pattern="^[1-9]+[0-9]*$"
        required
        ngModel
      />
    </mat-form-field>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!f.valid"
      >
        {{ editMode ? 'Update' : 'Add' }}
      </button>
      <button
        mat-raised-button
        color="secondary"
        style="margin-left: 5px;"
        (click)="onDelete()"
        *ngIf="editMode"
      >
        Delete
      </button>
      <button
        mat-raised-button
        color="secondary"
        (click)="onClear()"
        *ngIf="editMode"
      >
        Clear
      </button>
    </mat-card-actions>
  </form>
</mat-card>
